// Import material theming functions
@import '~@angular/material/theming';

// Copy the palettes from your selected theme (usually theme.scss).
$notepad-primary: mat-palette($mat-blue-grey);
$notepad-accent:  mat-palette($mat-grey);
$notepad-warn:    mat-palette($mat-red);

// Create your Sass color vars (will be available in all the project)
$primary: mat-color($notepad-primary);
$accent: mat-color($notepad-accent);
$warn: mat-color($notepad-warn);